<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
    <add name="ConnectionString" connectionString="Server=.;initial catalog={0}.argelog.com.tr;Integrated Security = True"/>
	</connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
